.subscriptions_list {
  width:600px;
	border: 1px solid #111;
	margin: 1em auto;
	padding: 0;
  background-color:#222;
  border-collapse:collapse;
}

.subscriptions_list TD {
	padding:5px 5px 2px 5px;
  vertical-align:center;
}

.subscriptions_list TR {
	text-align: left;
}

.row2 { background-color:#222; }
.row1 { background-color:#333; }

.stc p {
  text-align:center;
}

.stc label {
  display:block;
}

img.thumbnail {
  max-width:120px;
  max-height:90px;
}